@font-face {
  font-family: "RobotoRegular";
  src: url("src/assets/fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "RobotoThin";
  src: url("src/assets/fonts/Roboto-Thin.ttf") format("truetype");
}

@font-face {
  font-family: "RobotoBold";
  src: url("src/assets/fonts/Roboto-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "RobotoLight";
  src: url("src/assets/fonts/Roboto-Light.ttf") format("truetype");
}

@font-face {
  font-family: "AdventPro";
  src: url("src/assets/fonts/AdventPro-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Anton";
  src: url("src/assets/fonts/Anton-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "GontserratLight";
  src: url("src/assets/fonts/Gontserrat-Light.ttf") format("truetype");
}

@font-face {
  font-family: "GontserratRegular";
  src: url("src/assets/fonts/Gontserrat-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "GontserratMedium";
  src: url("src/assets/fonts/Gontserrat-Medium.ttf") format("truetype");
}
