<body>
  <div class="center-content">
    <h1 i18n >HISTÓRICO</h1>
    <span i18n
      >Este é o site de acompanhamento dos egressos da pós-graduação da UFU.
      Nele, traçamos uma série de informações para o publico em geral e também
      criamos uma estrutura de suporte para nossos egressos. Este é o site de
      acompanhamento dos egressos da pós-graduação da UFU. Nele, traçamos uma
      série de
    </span>
    <iframe
      width="560"
      height="315"
      src="https://www.youtube.com/embed/ZPdk5GaIDjo?si=uPeZhxV8jb2EYq9F"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
    ></iframe>
    <span i18n>
      Este é o site de acompanhamento dos egressos da pós-graduação da UFU.
      Nele, traçamos uma série de informações para o publico em geral e também
      criamos uma estrutura de suporte para nossos egressos. Este é o site de
      acompanhamento dos egressos da pós-graduação da UFU. Nele, traçamos uma
      série de
    </span>
  </div>
  <div class="researchers-content">
    <h1 i18n>PESQUISADORES</h1>
    <div class="information">
      <div class="researchs">
        <img src="" alt="" />
        <div>
          <span i18n >Nome: Alan Petrônio Pinheiro</span>
          <span i18n >Periodo: 2018-2023 </span>
          <span i18n >Área: processamento de sinais</span>
        </div>
      </div>
      <div class="researchs">
        <img src="" alt="" />
        <div>
          <span i18n >Nome: Alan Petrônio Pinheiro</span>
          <span i18n >Periodo: 2018-2023 </span>
          <span i18n >Área: processamento de sinais</span>
        </div>
      </div>
      <div class="researchs">
        <img src="" alt="" />
        <div>
          <span i18n >Nome: Alan Petrônio Pinheiro</span>
          <span i18n >Periodo: 2018-2023 </span>
          <span i18n >Área: processamento de sinais</span>
        </div>
      </div>
      <div class="researchs">
        <img src="" alt="" />
        <div>
          <span i18n >Nome: Alan Petrônio Pinheiro</span>
          <span i18n >Periodo: 2018-2023 </span>
          <span i18n >Área: processamento de sinais</span>
        </div>
      </div>
      <div class="researchs">
        <img src="" alt="" />
        <div>
          <span i18n >Nome: Alan Petrônio Pinheiro</span>
          <span i18n >Periodo: 2018-2023 </span>
          <span i18n >Área: processamento de sinais</span>
        </div>
      </div>
      <div class="researchs">
        <img src="" alt="" />
        <div>
          <span i18n >Nome: Alan Petrônio Pinheiro</span>
          <span i18n >Periodo: 2018-2023 </span>
          <span i18n >Área: processamento de sinais</span>
        </div>
      </div>
    </div>
  </div>
</body>
