body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
h1 {
  font-family: var(--ff-text-light);
  font-size: var(--fs-bigger);
}
iframe {
  margin-bottom: 50px;
}

a {
  text-decoration: underline;
  color: #010536;
  margin-top: 8px;
}

a:hover {
  text-decoration: none;
  color: #6699ff;
}

.center-content {
  width: 70%;
  margin: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 3%;
}
.center-content > span {
  font-family: var(--ff-standard);
  font-size: var(--fs-big);

  text-align: center;
  margin-inline: 50px;
  margin-bottom: 50px;
}

.researchers-content {
  width: 100%;
  background-color: #eeeeee;
}

.researchers-content h1 {
  margin-left: 3%;
  margin-top: 2%;
}

.researchers-content .card {
  margin-left: 3%;
  border: 1px solid gray;
  border-radius: 10px;
}

.card-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  gap: 3%;
}

.card {
  font-family: var(--ff-standard);

  height: 150px;
  padding-bottom: 2%;
  padding-left: 1%;
  margin-bottom: 2%;
}
.card p {
  margin-top: 8px;
  margin-bottom: 8px;
}
.card .card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.card .titulo {
  font-weight: 600;
}

.information {
  font-family: var(--ff-standard);

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 30px;
  flex-wrap: wrap;
}

.rodape {
  width: 100%;
  position: fixed;
  bottom: 70px;
  padding: 0%;
}
