body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
  margin: 0%;
  margin-bottom: 15%;

  color: white;

}
a:hover {
  cursor: pointer;
}

.lang {
  width: 100%;
  height: 20px;
  display: flex;
  flex-direction: row;

  justify-content: flex-end;
  align-content: center;

  background-color: rgba(0, 0, 0, 255);
}

.lang img {
  width: 30px;
  height: 20px;
  margin: 2px;
}

.navbar {
  font-family: var(--ff-text-regular);
  font-size: 1.2em;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 3%;
  width: 100%;
  height: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 4px solid #6699ff;
  background-color: #010536;
  color: white;
}

.nav {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-around;
  gap: 2%;
}

.nav > span {
  display: flex;
  align-items: center;
}

.nav > span:hover {
  text-decoration: underline;
  cursor: pointer;
}

.login-usuario {
  display: flex;
  flex-direction: row;
  align-content: center;

  margin-right: 1%;
  gap: 10px;
}

.drop {
  font-family: var(--ff-text-regular);
  font-size: small;
  background-color: transparent;
  border: white 1px solid;
  border-radius: 5px;
  color: white;
}
.drop:focus {
  background-color: #343434;
  color: white;
}

.welcome-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 100%;
  margin-bottom: 60px;
  padding-bottom: 5%;
  padding-top: 5%;
  background-color: #000000;
}

.texto {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;

  gap: 3px;
  margin-left: 2%;
}

/* ==== TO BE CHANGED BY THE MEDIA QUERY ==== */
/* ==== variaveis declaradas no styles.css ==== */
.portal-title {
  display: flex;
  justify-self: flex-start;
  font-family: var(--ff-medium-title);
  font-size: 1.3em;
}

.egresso-title {
  display: flex;
  justify-self: center;
  font-family: var(--ff-big-title);
  font-size: 1.8em;
  margin-left: 2%;
  color: white;
}

.eng-title {
  display: flex;
  justify-self: flex-end;
  font-family: var(--ff-big-title);
  font-size: 1.8em;
  margin-left: 4.5%;
}

@media (max-width: 600px) {
  .texto-intro {
    margin-top: 8%;
    transform: translateY(0%);
  }
}

.texto-tela {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: center;
  align-content: center;

  padding-left: 8%;
  padding-right: 8%;
  margin-bottom: 60px;
  color: #000000;
}
.texto-tela span {
  font-family: var(--ff-text-regular);
  font-size: 1.2em;

  width: 60%;

  text-align: center;
  line-height: 1.8;
}

.video-popup {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
}
.video-popup .img-video {
  background-color: black;
  width: 610px;
  height: 340px;
}

.img-video {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.descricao-video {
  display: flex;
  flex-direction: column;

  padding-left: 2%;
}
.descricao-video a {
  font-family: var(--ff-text-regular);
  text-decoration: none;
  color: white;
}
.descricao-video h1 {
  font-family: var(--ff-text-regular);
  margin-left: 3%;
}

.fa-play-circle::before {
  display: inline-block;
  text-rendering: auto;
}
.far::before {
  font: var(--fa-font-solid);
  content: " \f144";
  color: white;
}

.assistir-video {
  margin-bottom: 3%;
  margin-left: 3%;
}
.video-popup .assistir-video:hover .far::before {
  color: #6699ff;
}

.links-content {
  font-family: var(--ff-standard);
  font-size: larger;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;

  width: 100%;
  padding-top: 8%;
  padding-bottom: 8%;
  gap: 4%;

  flex-wrap: wrap;
  background-color: #eeeeee;
  color: black;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  min-width: 200px;
  width: 14%;
}
.card:first-child {
  padding-top: 4px;
}
.card img {
  border-radius: 5%;
}
.card p {
  font-family: var(--ff-text-light);
  font-size: 0.8em;
  display: flex;
  flex-wrap: wrap;
  text-align: start;
  line-height: 1.6;
}
.card .titulo {
  font-family: var(--ff-standard-inside);
  font-size: 0.9em;
  color: #010536;
  display: flex;
}
.card .saiba-mais {
  align-self: flex-start;
}
.card a {
  color: #010536;
  text-decoration: none;
  font-family: var(--ff-standard-inside);
  font-size: 1em;
}
.card .saiba-mais:hover .Angle-Right::before {
  color: #6699ff;
}

@media (max-width: 1380px) {
  .card p {
    font-size: 0.7em;
  }

  card img {
    size-adjust: 100%;
  }
}

.fontawesomeicon::before {
  display: inline-block;
  text-rendering: auto;
}

.Angle-Right::before {
  font: var(--fa-font-solid);
  content: " \f105";
  color: #010536;
}

.rodape {
  width: 100%;
}
