body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
  margin: 0%;
  margin-bottom: 15%;

  color: white;
}
a {
}

.lang {
  width: 100%;
  height: 20px;
  display: flex;
  flex-direction: row;

  justify-content: flex-end;
  align-content: center;

  background-color: rgba(0, 0, 0, 255);
}

.lang img {
  width: 30px;
  margin: 2px;
}

.topo-conteudo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  padding-top: 10px;
  padding-bottom: 10px;

  border-bottom: 4px solid #6699ff;
  background-color: #010536;
  color: white;
}

.login-usuario {
  display: flex;
  flex-direction: row;

  align-content: center;

  gap: 10px;
  margin-right: 1%;
}

.drop {
  background-color: transparent;
  border: white 1px solid;
  border-radius: 5px;
  color: white;
}
.drop:focus {
  background-color: #343434;
  color: white;
}

.welcome-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 100%;

  padding: 5%;
  margin-bottom: 60px;

  background-color: #000000;
}

.texto {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;

  gap: 3px;
  margin-left: 2%;
}

/* ==== TO BE CHANGED BY THE MEDIA QUERY ==== */
/* ==== variaveis declaradas no styles.css ==== */
.portal-title {
  display: flex;
  justify-self: flex-start;
  font-family: var(--ff-medium-title);
  font-size: var(--fs-big);
}

.egresso-title {
  display: flex;
  justify-self: center;
  font-family: var(--ff-big-title);
  font-size: var(--fs-bigger);
  margin-left: 2%;
  color: white;
}

.eng-title {
  display: flex;
  justify-self: flex-end;
  font-family: var(--ff-big-title);
  font-size: var(--fs-bigger);
  margin-left: 4.5%;
}

@media (max-width: 600px) {
  .texto-intro {
    margin-top: 8%;
    transform: translateY(0%);
  }
}

.texto-tela {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: center;
  align-content: center;

  padding-left: 8%;
  padding-right: 8%;
  margin-bottom: 60px;
  color: #000000;
}
.texto-tela span {
  font-family: var(--ff-standard);
  font-size: var(--fs-big);

  width: 60%;

  text-align: center;
  line-height: 1.5;
}

.video-content {
  margin-bottom: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.video-content iframe {
  min-width: 600px;
  min-height: 300px;
}

@media (max-width: 600px) {
  .video-content iframe {
    min-width: 300px;
    min-height: 200px;
  }
}

.links-content {
  font-family: var(--ff-standard);
  font-size: var(--fs-big);
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;

  width: 100%;
  padding-top: 8%;
  padding-bottom: 8%;
  gap: 4%;

  background-color: #eeeeee;
  color: black;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  width: 14%;
}
.card img {
  border-radius: 5%;
}
.card p {
  display: flex;
  flex-wrap: wrap;

  text-align: justify;
  line-height: 1.2;
}
.card .titulo {
  font-family: var(--ff-standard-inside);
  font-size: medium;

  display: flex;
}
.card .saiba-mais {
  align-self: flex-start;
}
.card a {
  color: #010536;
  text-decoration: none;

  font-family: var(--ff-standard-inside);
  font-size: var(--fs-big);
}
.card .saiba-mais:hover .Angle-Right::before {
  color: white;
}

.fontawesomeicon::before {
  display: inline-block;
  text-rendering: auto;
}

.Angle-Right::before {
  font: var(--fa-font-solid);
  content: " \f105";
  color: #010536;
}

.rodape {
  width: 100%;
}
