<body>
  <div class="lang">
    <img src="assets/flag-uk.svg" alt="Switch to English" />
    <img src="assets/flag-brasil.svg" alt="Mudar para Português" />
  </div>

  <div class="header-image-login">
    <a href="">
      <img src="assets/header.png" style="margin-left: 5%" alt="" />
    </a>
    <div class="login-usuario">
      <span>Usuário:</span>
      <select class="drop">
        <option value="" selected>Login</option>
        <option value="">Logout</option>
      </select>
    </div>
  </div>

  <header class="header">
    <nav class="nav--menu">
      <div
        class="links-content"
        [ngStyle]="styleDefault()"
        [class.showSideBar]="animation"
      >
        <ul class="nav--list">
          <li>
            <a (click)="mudaRota('egressos/graduates')" class="nav--link"
              >Lista de Egressos</a
            >
          </li>
          <li>
            <a (click)="openDialog('egressos/follow-up')" class="nav--link"
              >Acompanhamento dos Egressos</a
            >
          </li>
          <li>
            <a (click)="mudaRota('egressos/historic')" class="nav--link"
              >Histórico da Pós</a
            >
          </li>
          <li>
            <a (click)="mudaRota('egressos/numbers')" class="nav--link"
              >Números da Pós</a
            >
          </li>
        </ul>
      </div>
      <i
        class="fa fa-close icon-mobile"
        *ngIf="isOpen"
        (click)="showSideBar(false)"
      ></i>
      <i
        class="fa fa-list icon-mobile"
        *ngIf="!isOpen"
        (click)="showSideBar(true)"
      ></i>
    </nav>
  </header>

  <div class="welcome-content">
    <div class="texto">
      <span class="portal-title">PORTAL DE ACOMPANHAMENTO DOS</span>
      <span class="egresso-title">EGRESSOS DA PÓS GRADUACÃO</span>
      <span class="eng-title">EM ENG. ELETRICA DA UFU</span>
    </div>
    <div class="img-logo">
      <img src="assets/background1.jpg" alt="" />
    </div>
  </div>

  <div class="texto-tela">
    <span>
      Neste site pretendemos manter contato constante com todos nossos egressos
      de mestrado, doutorado e pós-doutorado do programa de pós-graduação em
      Engenharia Elétrica da Universidade Federal de Uberlândia (PPGEELT). Além
      de coletar informações de nossos egressos para entender melhor os impactos
      de nossa formação, pretendemos usar estes números para balizar melhorias e
      trazer ao público em geral um panorama do impacto do PPGEELT. Também
      fomentar novas oportunidades e propor interações a toda sua comunidade.
    </span>
  </div>

  <div class="video-popup">
    <div class="img-video">
      <!-- <img src="assets/banner-75.jpg" alt="" /> -->
      <div class="descricao-video">
        <h1>PPGEELT</h1>
        <a class="assistir-video" (click)="openVideoDialog()">
          <h3>Assista Ao Vídeo <span class="far fa-play-circle"></span></h3>
        </a>
      </div>
    </div>
  </div>

  <div class="cards-content">
    <div class="card">
      <a (click)="mudaRota('egressos/graduates')">
        <img
          src="assets/icone_acompanhamento.png"
          class="card-img-top"
          alt="..."
        />
      </a>
      <div class="card-body">
        <p class="titulo">Lista de Egressos</p>
        <p class="card-text">
          Aqui você encontrará a lista das pessoas que se formaram no PPGEELT no
          decorrer dos anos, seja no mestrado, seja no doutorado ou no
          pós-doutorado de nosso programa.
        </p>
      </div>
      <div class="saiba-mais">
        <a (click)="mudaRota('egressos/graduates')">
          Saiba Mais
          <span class="Angle-Right fontawesomeicon"></span>
        </a>
      </div>
    </div>
    <div class="card">
      <a (click)="openDialog('egressos/follow-up')">
        <img
          src="assets/icone_historia_pos.png"
          class="card-img-top"
          alt="..."
        />
      </a>
      <div class="card-body">
        <h5 class="titulo">Acompanhamento dos Egressos</h5>
        <p class="card-text">
          Aqui você encontrará a lista das pessoas que se formaram no PPGEELT no
          decorrer dos anos, seja no mestrado, seja no doutorado ou no
          pós-doutorado de nosso programa.
        </p>
      </div>
      <div class="saiba-mais">
        <a (click)="openDialog('egressos/follow-up')">
          Saiba Mais
          <span class="Angle-Right fontawesomeicon"></span>
        </a>
      </div>
    </div>
    <div class="card">
      <a (click)="mudaRota('egressos/historic')">
        <img
          src="assets/icone_lista_egressos.png"
          class="card-img-top"
          alt="..."
        />
      </a>
      <div class="card-body">
        <p class="titulo">Histórico da Pós</p>
        <p class="card-text">
          Aqui você encontrará a lista das pessoas que se formaram no PPGEELT no
          decorrer dos anos, seja no mestrado, seja no doutorado ou no
          pós-doutorado de nosso programa.
        </p>
      </div>
      <div class="saiba-mais">
        <a (click)="mudaRota('egressos/historic')">
          Saiba Mais
          <span class="Angle-Right fontawesomeicon"></span>
        </a>
      </div>
    </div>
    <div class="card">
      <a (click)="mudaRota('egressos/numbers')">
        <img src="assets/icone_num_pos.png" class="card-img-top" alt="..." />
      </a>
      <div class="card-body">
        <p class="titulo">Números da Pós</p>
        <p class="card-text">
          Aqui você encontrará a lista das pessoas que se formaram no PPGEELT no
          decorrer dos anos, seja no mestrado, seja no doutorado ou no
          pós-doutorado de nosso programa.
        </p>
      </div>
      <div class="saiba-mais">
        <a (click)="mudaRota('egressos/numbers')">
          Saiba Mais
          <span class="Angle-Right fontawesomeicon"></span>
        </a>
      </div>
    </div>
  </div>

  <div class="rodape">
    <app-rodape></app-rodape>
  </div>
</body>
