body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
  margin: 0%;
  margin-bottom: 15%;

  color: #4d4d51;
}

.lang {
  width: 100%;
  height: 20px;
  display: flex;
  flex-direction: row;

  justify-content: flex-end;
  align-content: center;

  background-color: rgba(0, 0, 0, 255);
}

.lang img {
  width: 30px;
  margin: 2px;
}

.topo-conteudo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
  padding-top: 10px;
  padding-bottom: 10px;

  border-bottom: 4px solid #6699ff;
  background-color: #010536;
  color: white;
}

.login-usuario {
  display: flex;
  flex-direction: row;

  align-content: center;

  gap: 10px;
  margin-right: 1%;
}

.drop {
  background-color: transparent;
  border: white 1px solid;
  border-radius: 5px;
  color: white;
}

.drop:focus {
  background-color: #343434;
  color: white;
}

.welcome-content {
  display: flex;
  justify-content: end;
  flex-direction: row;
  width: 100%;
  margin-bottom: 60px;

  background-color: #ffffff;
}

.texto-intro {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;

  gap: 3px;
  transform: translateY(30%);
  margin-left: 2%;
}

/* ==== TO BE CHANGED BY THE MEDIA QUERY ==== */
/* ==== variaveis declaradas no styles.css ==== */
.portal-title {
  display: flex;
  justify-self: flex-start;
  font-family: var(--ff-medium-title);
  font-size: var(--fs-big);
}

.egresso-title {
  display: flex;
  justify-self: center;
  font-family: var(--ff-big-title);
  font-size: var(--fs-bigger);
  margin-left: 2%;
  color: #ffcc00;
}

.eng-title {
  display: flex;
  justify-self: flex-end;
  font-family: var(--ff-big-title);
  font-size: var(--fs-bigger);
  margin-left: 8%;
}

.descricao {
  font-family: var(--ff-standard);
  font-size: var(--fs-standard);

  width: 45%;
  margin-top: 1%;

  line-height: 1.5;
  text-align: left;
}

@media (max-width: 600px) {
  .texto-intro {
    margin-top: 8%;
    transform: translateY(0%);
  }

  .descricao {
    visibility: hidden;
  }
}

.imagem-fundo {
  max-height: 100%;
  overflow: hidden;
  width: 70%;
}

.imagem-fundo img {
  width: 100%;
  height: auto;
  /* This maintains the aspect ratio of the image */
  display: block;
  /* Removes extra space below the image */
}

.video-content {
  margin-bottom: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.video-content iframe {
  min-width: 600px;
  min-height: 300px;
}

@media (max-width: 600px) {
  .video-content iframe {
    min-width: 300px;
    min-height: 200px;
  }
}

.links-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
  width: 100%;
}

.links-content .card {
  width: 18em;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  padding: 2em;
  background-color: #cccccc;
  border: 3px solid #b3b3b3;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;

  font-size: var(--fs-standard);
  font-family: var(--ff-standard);
}

.links-content img {
  border-radius: 3%;
  justify-self: center;
}

.links-content a {
  display: flex;
  justify-content: center;
}

@media (max-width: 1080px) {
  .links-content img {
    width: 80%;
  }
}

@media (max-width: 1024px) {
  .links-content .card {
    width: 15em;
    padding: 0.8em;
  }

  .links-content img {
    width: 90%;
  }
}

.row {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  gap: 4%;

  margin-left: 10%;
  padding: 4%;
  width: 70%;
}

.row:first-child {
  background-color: #dedddd;
}

@media (max-with: 450px) {
  .card p {
    visibility: hidden;
  }
}

.rodape {
  width: 100%;
}
