<body>
  <div class="lang">
    <img src="assets/flag-uk.svg" alt="Switch to English">
    <img src="assets/flag-brasil.svg" alt="Mudar para Português">
  </div>
  <div class="topo-conteudo">
    <img src="assets/header.png" style="margin-left: 1%" alt="" srcset="
    assets/header.png 1092w,
    assets/header-50.png 320w
    " />
    <div class="login-usuario">
      <span>Usuário:</span>
      <select class="drop">
        <option value="" selected>Login</option>
        <option value="">Logout</option>
      </select>
    </div>
  </div>

  <div class="welcome-content" style="position: relative">
    <div class="texto-intro" style="z-index: 2; position: absolute">
      <div class="titulo-intro">
        <span class="portal-title">PORTAL DE ACOMPANHAMENTO DOS</span>
      </div>
      <span class="egresso-title">EGRESSOS DA PÓS GRADUACÃO</span>
      <div class="outro-titulo">
        <span class="eng-title">EM ENG. ELETRICA DA UFU</span>
      </div>
      <span class="descricao">
        Neste site pretendemos manter contato constante com todos nossos
        egressos de mestrado, doutorado e pós-doutorado do programa de
        pós-graduação em Engenharia Elétrica da Universidade Federal de
        Uberlândia (PPGEELT). Além de coletar informações de nossos egressos
        para entender melhor os impactos de nossa formação, pretendemos usar
        estes números para balizar melhorias e trazer ao público em geral um
        panorama do impacto do PPGEELT. Também fomentar novas oportunidades e
        propor interações a toda sua comunidade.
      </span>
    </div>

    <div class="imagem-fundo">
      <img src="assets/banner.jpg" srcset="
          assets/banner-smallest.jpg  320w,
          assets/banner-standard.jpg  908w
          assets/banner.jpg           1200w,
          assets/banner-widest.jpg   1919w
        " />
    </div>
  </div>

  <div class="video-content">
    <iframe src="https://www.youtube.com/embed/9VXwaufU0QE?si=ookFFDPcDCYkpYRS" title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen></iframe>
  </div>

  <div class="links-content">
    <div class="row">
      <div class="card">
        <a>
          <img src="assets/lista_egressos.png" class="card-img-top" alt="...">
        </a>
        <div class="card-body">
          <p class="card-text">Aqui você encontrará a lista das pessoas que
            se formaram no PPGEELT no decorrer dos
            anos, seja no mestrado, seja no doutorado
            ou no pós-doutorado de nosso programa.</p>
        </div>
      </div>
      <div class="card">
        <a (click)="openDialog('egressos/follow-up')">
          <img src="assets/acompanhamento.png" class="card-img-top" alt="...">
        </a>
        <div class="card-body">
          <p class="card-text">Aqui você encontrará a lista das pessoas que
            se formaram no PPGEELT no decorrer dos
            anos, seja no mestrado, seja no doutorado
            ou no pós-doutorado de nosso programa.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="card">
        <a (click)="openDialog('egressos/opportunity')">
          <img src="assets/opostunidades.png" class="card-img-top" alt="...">
        </a>
        <div class="card-body">
          <p class="card-text">Aqui você encontrará a lista das pessoas que
            se formaram no PPGEELT no decorrer dos
            anos, seja no mestrado, seja no doutorado
            ou no pós-doutorado de nosso programa.</p>
        </div>
      </div>
      <div class="card">
        <a>
          <img src="assets/historico.png" class="card-img-top" alt="...">
        </a>
        <div class="card-body">
          <p class="card-text">Aqui você encontrará a lista das pessoas que
            se formaram no PPGEELT no decorrer dos
            anos, seja no mestrado, seja no doutorado
            ou no pós-doutorado de nosso programa.</p>
        </div>
      </div>
      <div class="card">
        <a>
          <img src="assets/numeros_pos.png" class="card-img-top" alt="...">
        </a>
        <div class="card-body">
          <p class="card-text">Aqui você encontrará a lista das pessoas que
            se formaram no PPGEELT no decorrer dos
            anos, seja no mestrado, seja no doutorado
            ou no pós-doutorado de nosso programa.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="rodape">
    <app-rodape></app-rodape>
  </div>
</body>