table {
  width: 100%;
}

th {
  font-weight: 600;
}

@media (max-width: 600px) {
  * {
    font-size: 0.9em;
  }
}

@media (max-width: 506px) {
  * {
    font-size: 0.8em;
  }
}

@media (max-width: 420px) {
  table.mat-table {
    overflow: auto;
  }
}

.content {
  height: 100%;
  width: 95%;
  padding: 2%;
  overflow-x: auto;
}

.content .rodape {
  width: 100%;
  position: fixed;
  bottom: 70px;
  padding: 0%;
  transform: translateX(-2%);
}
