<body>
  <div class="lang">
    <img (click)="mudaIdioma('en')" src="assets/flag-uk.svg" alt="Switch to English" />
    <img (click)="mudaIdioma('pt')" src="assets/flag-brasil.svg" alt="Mudar para Português" />
  </div>

  <div class="header-image-login">
    <a href="">
      <img src="assets/header.png" style="margin-left: 5%" alt="" />
    </a>
  </div>

  <header class="header">
    <nav class="nav--menu">
      <div class="links-content" [ngStyle]="styleDefault()" [class.showSideBar]="animation">
        <ul class="nav--list">
          <li>
            <a i18n (click)="mudaRota('egressos/graduates')" class="nav--link">{{"Lista de Egressos" | translate}}</a>
          </li>
          <li>
            <a i18n (click)="checaLogin('egressos/follow-up')" class="nav--link">{{"Acompanhamento dos Egressos" | translate}}</a>
          </li>
          <li>
            <a i18n (click)="mudaRota('egressos/historic')" class="nav--link">{{"Histórico da Pós" | translate}}</a>
          </li>
          <li>
            <a i18n (click)="mudaRota('egressos/numbers')" class="nav--link">{{"Números da Pós" | translate}}</a>
          </li>
        </ul>
      </div>
      <i class="fa fa-close icon-mobile" *ngIf="isOpen" (click)="showSideBar(false)"></i>
      <i class="fa fa-list icon-mobile" *ngIf="!isOpen" (click)="showSideBar(true)"></i>
    </nav>
  </header>
</body>