<div>
  <div class="lang">
    <img src="assets/flag-uk.svg" alt="Switch to English" />
    <img src="assets/flag-brasil.svg" alt="Mudar para Português" />
  </div>

  <nav class="navbar">
    <div
      style="
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
        width: 30%;
        gap: 8%;
      "
    >
      <a href="">
        <img src="assets/header.png" style="margin-left: 5%" alt="" />
      </a>
      <div class="nav">
        <span class="nav-item" (click)="mudaRota('egressos/graduates')"
          >Egressos</span
        >
        <span class="nav-item" (click)="openDialog('follow-up')"
          >Acompanhamento</span
        >
        <span class="nav-item" (click)="mudaRota('egressos/historic')"
          >Histórico</span
        >
        <span class="nav-item" (click)="mudaRota('egressos/numbers')"
          >Números</span
        >
      </div>
    </div>
    <div class="login-usuario">
      <span>Usuário:</span>
      <select class="drop">
        <option value="" selected>Login</option>
        <option value="">Logout</option>
      </select>
    </div>
  </nav>
</div>
