/* You can add global styles to this file, and also import other style files */
:root {
  /* font-family */
  --ff-standard: "RobotoLight";
  --ff-standard-inside: "RobotoBold";
  --ff-medium-title: "AdventPro";
  --ff-big-title: "Anton";

  /* font-sizes */
  /* --fs-supersmall: 0.1rem; */
  --fs-small: 0.6em;
  --fs-standard: 0.9em;
  --fs-big: 1.2em;
  --fs-bigger: 1.8em;
}

@media (min-width: 1500px) {
  :root {
    --fs-standard: 0.8em;
    --fs-big: 1em;
    --fs-bigger: 1.6em;
  }
}

@media (max-width: 1400px) {
  :root {
    --fs-standard: 0.7em;
    --fs-big: 0.9em;
    --fs-bigger: 1.5em;
  }
}

@media (max-width: 1080px) {
  :root {
    --fs-standard: 0.6em;
    --fs-big: 0.8em;
    --fs-bigger: 1.3em;
  }
}

@media (max-width: 860px) {
  :root {
    --fs-standard: 0.5em;
    --fs-big: 0.7em;
    --fs-bigger: 0.9em;
  }
}

@media (max-width: 700px) {
  :root {
    --fs-standard: 0.4em;
    --fs-big: 0.6em;
    --fs-bigger: 0.8em;
  }
}

@media (max-width: 420px) {
  :root {
    --fs-small: 0.5em;
  }
}

body {
  margin: 0%;
  background-color: #f5f5f5;
}

.arrow::before {
  content: "\f105";
}
