<div class="wrapper">
  <div class="close-login">
    <span (click)="close()">X</span>
  </div>
  <div class="form-box login">
    <form [formGroup]="formGroup" (submit)="onSubmit(formGroup)">
      <div class="input-box">
        <span class="icon"></span>
        <input
          (input)="guardaSenhaNova($event)"
          [type]="fieldVisibility ? 'text' : 'password'"
          class="form-control"
          id="senha-um"
          required
        />
        <label i18n >Nova senha:</label>
      </div>
      <div class="input-box">
        <span class="icon"></span>
        <input
          (input)="guardaSenhaConfirma($event)"
          [type]="fieldVisibility ? 'text' : 'password'"
          class="form-control"
          formControlName="senha"
          id="senha-dois"
          required
        />
        <label i18n >Confirmar nova senha:</label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          for="senha"
          (click)="alteraVisibilidade()"
        />
        <label i18n class="form-check-label" for="flexCheckDefault">
          Mostrar senha
        </label>
      </div>
      <button i18n type="submit" class="btn">Alterar</button>
    </form>
  </div>
</div>
