<div class="wrapper">
  <div class="form-box login">
    <h2>Login</h2>
    <form action="#">
      <div class="input-box">
        <span class="icon"></span>
        <input type="text" required />
        <label>Usuario</label>
      </div>
      <div class="input-box">
        <span class="icon"></span>
        <input type="password" required />
        <label>Senha</label>
      </div>
      <div class="remember-forgot">
        <label><input type="checkbox" />Lembrar-me</label>
        <a href="#">Esqueci a senha</a>
      </div>
      <button type="submit" class="btn">Entrar</button>
    </form>
  </div>
</div>
