<div class="wrapper">
  <div class="close-login">
    <span (click)="close()">X</span>
  </div>
  <div class="form-box login">
    <h2>Login</h2>
    <form [formGroup]="formGroup" (submit)="onSubmit(formGroup)">
      <div class="input-box">
        <span class="icon"></span>
        <input
          type="text"
          class="form-control"
          formControlName="cpf"
          name="cpf"
          required
        />
        <label>Usuario</label>
      </div>
      <div class="input-box">
        <span class="icon"></span>
        <input
          type="password"
          class="form-control"
          formControlName="senha"
          name="senha"
          required
        />
        <label>Senha</label>
      </div>
      <div class="remember-forgot">
        <label><input type="checkbox" />Lembrar-me</label>
        <a href="#">Esqueci a senha</a>
      </div>
      <button type="submit" class="btn">Entrar</button>
    </form>
    <div class="info">
      <span
        >*Se for sua primeira vez se conectando, a senha padrão é seu CPF sem
        pontos e traço.</span
      >
    </div>
  </div>
</div>
