<div class="login-container">
    <header class="header">
        <span>Login</span>
    </header>
    
    <div class="infoLogin">
        <div class="insereEmail">
            <label for="inputEmail" class="form-label">Email:</label>
            <input type="email" class="form-control">
        </div>
        <div class="insereEmail">
            <label for="inputEmail" class="form-label">CPF:</label>
            <input type="email" class="form-control">
        </div>
    </div>

    <div class="button-content">
        <button (click)="loginSucesso()">
            Entrar
        </button>
    </div>
</div>